@page "/scoreentryform"
@using ScoreBoardHub.Models
@using Azure.Data.Tables
@using ScoreBoardHub.Data
@inject TableService TableService

<div class="score-entry-form">
    <EditForm Model="@scoreBoardEntry" OnValidSubmit="@SaveScore">
        <DataAnnotationsValidator />
        <h3>@(IsEditing ? "Edit Score" : "Add Score")</h3>
        @if (IsEditing)
        {
            <button type="button" class="fixed-top-right" @onclick="ShowValidationPopup"><i class="fa-solid fa-trash-can"></i></button>
        }
        <div>
            <InputText @bind-Value="scoreBoardEntry.PlayerName" placeholder="Player Name" style="width:100%" />
            <ValidationMessage For="() => scoreBoardEntry.PlayerName" />
        </div>
        <div>
            <InputNumber @bind-Value="scoreBoardEntry.Score" placeholder="Player Score" style="width:100%" min="0" />
            <ValidationMessage For="() => scoreBoardEntry.Score" />
        </div>

        <div class="button-group">
            <button type="button" class="btn btn-secondary" @onclick="CloseForm">Close</button>
            <button type="submit" class="btn btn-success">@((IsEditing ? "Update Score" : "Add Score"))</button>
        </div>
    </EditForm>
</div>

<div class="modal-backdrop fade @(isValidationPopupVisible ? "show" : "")"></div>

<div class="modal fade @(isValidationPopupVisible ? "show d-block" : "")" tabindex="-1" role="dialog" aria-labelledby="validationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="validationModalLabel">Confirmation</h5>
                <button type="button" class="close" @onclick="HideValidationPopup">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this entry?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick="HideValidationPopup">Cancel</button>
                <button type="button" class="btn btn-danger" @onclick="RemoveEntry">Delete</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public bool IsEditing { get; set; }
    [Parameter]
    public TableEntity ScoreEntry { get; set; }
    [Parameter]
    public EventCallback<TableEntity> OnScoreSaved { get; set; }
    [Parameter]
    public string ScoreboardName { get; set; }

    private ScoreBoardEntry scoreBoardEntry { get; set; } = new ScoreBoardEntry();

    private void CloseForm()
    {
        OnScoreSaved.InvokeAsync();
    }

    protected override void OnInitialized()
    {
        scoreBoardEntry = new ScoreBoardEntry();

        if (IsEditing)
        {
            scoreBoardEntry.PlayerName = ScoreEntry!.GetString("PlayerName");
            scoreBoardEntry.Score = ScoreEntry!.GetInt32("Score") ?? 0;
            scoreBoardEntry.RowKey = ScoreEntry!.RowKey;
        }
    }

    private void SaveScore()
    {
        if (IsEditing)
        {

            TableService.UpdateScoreBoardEntry(scoreBoardEntry, ScoreboardName);
        }
        else
        {
            TableService.AddScoreBoardEntry(scoreBoardEntry, ScoreboardName);
        }

        OnScoreSaved.InvokeAsync(ScoreEntry);
    }

    private bool isValidationPopupVisible = false;

    private void ShowValidationPopup()
    {
        isValidationPopupVisible = true;
    }

    private void HideValidationPopup()
    {
        isValidationPopupVisible = false;
    }

    private void RemoveEntry()
    {
        TableService.RemoveScoreBoardEntry(scoreBoardEntry.RowKey, ScoreboardName);
        OnScoreSaved.InvokeAsync(ScoreEntry);
        HideValidationPopup();
    }
}
